* {
	box-sizing: border-box;
}
body {
	margin: 0;
	background: #F0F0F0;
}
main {
	display: grid;
	grid-template-columns: repeat(auto-fit
						minmax(200px, 1fr));
}
img {
	display: block;
	width: 100%;
	box-shadow: -1px 0px 0px
						rgba(0,0,0,0.06);
}

/*
ul {
	display: grud;
	grid-template-columns:
				repeat(auto-fit,
				minmax(100px,1fr));
	grid-gap: 0.5rem 1rem;
}
li {
	display: flex;
	flex-flow: column;	
}
img {
	order:;
}