div.page {
	display: grid;
	grid-template-columns:
		2fr 1fr 1fr;
	grid-template-rows:
		auto 1fr 3fr;
	grid-template-areas:
		"title title title"
		"main header header"
		"main sidebar footer";
}

.main-content {
	width: 45%
	float: left;
	background: blue;
}

.other-content {
	background: purple;
}

.sidebar {
	width: 45%;
	float: right;
	background: green;
	

}

