.wrap {
	border: 5px solid red;
}

.main-content {
	width: 45%
	float: left;
	background: blue;
}

.sidebar {
	width: 45%;
	float: right;
	background: green;
	

}

/* Clearfix*/
.wrap:after{
	content: "";
	display: table;
	clear: both;
}