div.page {
	display: grid;
	grid-template-columns:
		2fr 1fr 1fr;
	grid-template-rows:
		auto 1fr 3fr;
	grid-template-areas:
		"title title title"
		"main header header"
		"main sidebar footer";
}

.masthead {
	grid-area: header;
}

.page-title {
	grid-area: title;
}

.main content{
	grid-area: main;
	

}

.sidebar {
	grid-area: sidebar;
}

.footer {
	grid-area: footer;
}

@media screen and (min-width: 34em) {

	.site {
		grid-template-areas:
		"title title title"
		"main header header"
		"main sidebar footer";
	}
}
